<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title><%= settings.title %></title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">

    <div class="col-sm-6 col-sm-offset-3">

      <h1><span class="fa fa-sign-in"></span> Login</h1>
      
      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
        <p class="alert alert-danger"><% message %></p>
      <% } %>

      <form action="/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
      </form>

      <hr>

      <p>Need an account? <a href="/signup">Signup</a></p>
      <p>Or go <a href="/">home</a>.</p>
    </div>
  </div>

</body>
</html>
